//colors
$black: black;
$color_tundora_approx: #444;

@media print {
	* {
		background: transparent !important;
		color: $black !important;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a {
		color: $color_tundora_approx !important;
		text-decoration: underline;
		&:visited {
			color: $color_tundora_approx !important;
			text-decoration: underline;
		}
	}
	tr {
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p {
		orphans: 3;
		widows: 3;
	}
	h2 {
		orphans: 3;
		widows: 3;
		page-break-after: avoid;
	}
	h3 {
		orphans: 3;
		widows: 3;
		page-break-after: avoid;
	}
	a[href]:after {
		content: "(" attr(href) ")";
	}
}
